{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}

            <h1>Nom : {{produit.nom}}</h1>
            <p>Description : {{produit.description}}</p>
            <p>Prix : {{produit.prix}} €</p>
            <p>Stock : {{produit.stock}}</p>
            <p>{% if produit.photo is not null  %}
            <img src="{{asset('uploads/'~produit.photo)}}">
            {% endif %}</p>


<h1> Modifier le produit </h1>
{{form (form_edit)}}
{% endblock %}
