{% extends 'base.html.twig' %}

{% block title %}{{'admin.titre'|trans}}{% endblock %}

{% block body %}

<li class="list-group-item list-group-item-primary">{{'admin.user'|trans}}</li>

    {% if users is not empty %}
        <div class="container">
            <div class="row">
                {% for user in users %}
                <div class="card bg-light mb-3"  style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ user.nom }} {{ user.prenom }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                    <p class="card-text">{{ user.roles|join(', ') }}</p>
                    <a href="{{ path('editRole', {'id': user.id}) }}" class="card-link">{{'admin.role'|trans}}</a>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}

    <li class="list-group-item list-group-item-primary">{{'admin.panier'|trans}}</li>
        {% for panier in paniers %}
            <div class="card">
                <div class="card-body">
                    <p>{{'admin.id'|trans}} : {{ panier.id }}</p>

                    <p>{{'admin.utilisateur'|trans}} : {{ panier.utilisateur.nom }} {{ panier.utilisateur.prenom }}</p>

                    <p>{{'admin.mail'|trans}} : {{ panier.utilisateur}}</p>

                    <a type="button" class="btn btn-primary btn-lg btn-block"  href="{{ path('contenu',{'id': panier.id}) }}">{{'compte.detail'|trans}}</a>

                </div>
            </div>
                        
        {% endfor %}
    {% endif %}
{% endblock %}
