{% extends 'base.html.twig' %}

{% block title %}{{'accueil.titre'|trans}}{% endblock %}

{% block body %}


    <div class="container">
        <div class="row-ext">
            {% for produit in produits %}
            <div class="col-4">
                <div class="card" style="width: 100%;">
                    {% if produit.photo is not null  %}
                    <img class="card-img-top" src="{{asset('uploads/'~produit.photo)}}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{produit.nom}}</h5>
                        <p class="card-text">{{produit.description}}</p>
                        <p class="card-text">{{'accueil.prix'|trans}} : {{produit.prix}} €</p>
                        <p class="card-text">{{'accueil.stock'|trans}} : {{produit.stock}}</p>
                        <a href="{{ path('produit',{'id':produit.id}) }}" class="btn btn-primary">{{'accueil.produit'|trans}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <h1>{{'accueil.add'|trans}} </h1>
        {{form (form_ajout)}}
    {% endif %}


{% endblock %}
